header, footer {
	background-color: #AEC5EB;
	color: #3A405A;
	text-align: center;
	height: 100px;
	padding: 30px 10px 20px 10px;
}

table {
	border-collapse: collapse;
	text-align: center;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

th {
	text-align: center;
	padding: 10px;
	background-color: #E9AFA3;
}

tr:hover {
	background-color: #E9AFA3;
}

td {
	padding: 10px;
	text-align: left;
}

table, th, td {
	border: 1px solid black;
}

article img {
	float: center;
}

nav {
	text-align: center;
	border-top: thin #5b7d87 solid;
	border-bottom: thin #5b7d87 solid;
	padding-top: 12px;
	padding-bottom: 12px;
}

nav .btn {
	background-color: #5b7d87;
	color: #fef9ff;
}

nav .btn:hover {
	font-weight: bold;
}

.required {
	font-weight: bold;
}

body {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-top: 10px;
}

h1 {
	margin-bottom: 20px;
}

h4 {
	font-size: 25px;
	font-weight: bold;
}

h5 {
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
}

section {
	text-align: center;
	background-color: #F9DEC9;
	color: #3A405A;
}